//Colour palette

///Primary

$brightBlue: hsl(220, 98%, 61%);
$checkBg: linear-gradient(hsl(192, 100%, 67%) to hsl(280, 87%, 65%));
$veryDarkBlue: hsl(235, 21%, 11%);
$veryDarkDeSaturatedBlue: hsl(235, 24%, 19%);
$lightGrayishBlue: hsl(234, 39%, 85%);
$lightGrayishBlueHover: hsl(236, 33%, 92%);
$darkGrayishBlue: hsl(234, 11%, 52%);
$veryDarkDeSaturatedBlue1: hsl(233, 14%, 35%);
$veryDarkDeSaturatedBlue2: hsl(237, 14%, 26%);
